<launch>
    <!-- 启动nodelet manager(管理器) -->
    <node pkg="nodelet" type="nodelet" args="manager" name="dasun" output="screen" />
    <!-- 添加节点小王，参数100 -->
    <node pkg="nodelet" type="nodelet" args="load nodelet_tutorial_math/Plus dasun" name="xiaowang" output="screen" >
        <param name="value" value="100" />
    </node>
    <!-- 添加节点二狗，参数-50，小王的输出作为二狗的输入 -->
    <node pkg="nodelet" type="nodelet" args="load nodelet_tutorial_math/Plus dasun" name="ergou" output="screen" >
        <param name="value" value="-50" />
        <remap from="/ergou/in" to="/xiaowang/out" />
    </node>
</launch>